


.hero_carousel {
    max-width: 100%;
    min-height: 346.97px;
background-image: url(../../assets/images/hero.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -100;

}

.hero_carousel_title {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    line-height: 67px;
    color: #D1B89D;
    width: 320px;
    min-height: 201px;
    margin-top: 45px;
    margin-left: 160px !important;
    text-align: left;
}



.slick-next,
.slick-prev,
.slick-arrow {
    display: none !important;
}

ul .slick-dots {
    width: 100px !important;
}

.slick-dots {
    bottom: 82px;
    left: 80px;
    width: 300px !important;
}

.slick-dots li {
    width: 57.39px;
    height: 3px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    position: relative;
}

ul .slick-active {
    background: #FFFFFF;
}

.slick-dots li button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}

ul li button{
    opacity: 0;
}


